{{cprTrace "START ACTOR MOOK CPR-MOOK-ARMOR.HBS"}}
<div class="armor-section">
  <div class="armor-content">
    {{#each (cprSort actor.itemTypes.armor "name") as |armor| }}
      {{#if (cprCompare armor.system.equipped "===" "equipped") }}
        {{> "systems/cyberpunk-red-core/templates/actor/mixin/fight/cpr-armor.hbs" this}}
      {{/if}}
    {{/each}}
  </div>
</div>
{{cprTrace "END CPR-MOOK-ARMOR.HBS"}}
