{{cprTrace "START ACTOR CHARACTER RIGHT-PANE TABS GEAR CPR-CYBERWARE-CONTENT.HBS"}}
{{#unless item.system.isInstalled}}
<li class="item flexrow{{#if item.system.favorite}} favorite{{else}}{{#if (cprListContains sheet.options.collapsedSections "gearTab-cyberware")}} hide{{/if }}{{/if}}"
      data-item-id="{{item._id}}"
      data-item-category="{{item.type}}"
      draggable="true">
    <div class="
           item-name
           gear-name
           text-nowrap
           {{#if item.system.isFoundational}}
             text-semi
           {{/if}}"
           data-tooltip="
             {{localize (cprFindConfigValue "cyberwareTypeList" item.system.type) }}
             {{#if item.system.isFoundational}}
               ({{localize "CPR.global.generic.foundational" }})
             {{/if}}">
      <a class="name item-edit flex-center">
        <img src="{{item.img}}"/>
        {{item.name}}
        {{#if item.system.isUpgraded }}
          <i class="text-super fa-solid fa-square-up"></i>
        {{/if}}
      </a>
    </div>
    <div class="item-detail gear-data text-nowrap"
         data-tooltip="{{cprStripHtml item.system.description.value}}">
      {{cprStripHtml item.system.description.value}}
    </div>
    <div class="item-detail gear-actions text-nowrap">
      {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
    </div>
  </li>
{{/unless}}
{{cprTrace "END CPR-CYBERWARE-CONTENT.HBS"}}
