{{cprTrace "START ACTOR CHARACTER RIGHT-PANE TABS GEAR CPR-VEHICLE-CONTENT.HBS"}}
<li class="item flexrow{{#if item.system.favorite }} favorite{{else }}{{#if (cprListContains sheet.options.collapsedSections "gearTab-vehicle") }} hide{{/if }}{{/if }}"
    data-item-id="{{item._id}}"
    data-item-category="{{item.type}}"
    draggable="true">
  <div class="item-name gear-name text-nowrap">
    <a class="name item-edit flex-center">
      <img src="{{item.img}}"/>
      {{item.name}}
      {{#if item.system.isUpgraded }}
        <i class="text-super fa-solid fa-square-up"></i>
      {{/if}}
    </a>
  </div>
  <div class="item-detail gear-data text-nowrap"
       data-tooltip=" {{localize "CPR.characterSheet.rightPane.vehicle.seats"}}: {{cprApplyUpgrade item item.system.seats "seats"}} | {{localize "CPR.characterSheet.rightPane.vehicle.sdp"}}: {{cprApplyUpgrade item item.system.sdp "sdp"}} | {{localize "CPR.characterSheet.rightPane.vehicle.combatSpeed"}}: {{cprApplyUpgrade item item.system.speedCombat "speedCombat"}} ">
    {{localize "CPR.characterSheet.rightPane.vehicle.seats"}}: {{cprApplyUpgrade item item.system.seats "seats"}}
    | {{localize "CPR.characterSheet.rightPane.vehicle.sdp"}}: {{cprApplyUpgrade item item.system.sdp "sdp"}}
    | {{localize "CPR.characterSheet.rightPane.vehicle.combatSpeed"}}: {{cprApplyUpgrade item item.system.speedCombat "speedCombat"}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{cprTrace "END CPR-VEHICLE-CONTENT.HBS"}}
