{{cprTrace "START ACTOR CHARACTER RIGHT-PANE TABS GEAR CPR-AMMO-CONTENT.HBS"}}
<li class="item flexrow{{#if item.system.favorite }} favorite{{else }}{{#if (cprListContains sheet.options.collapsedSections "gearTab-ammo") }} hide{{/if }}{{/if }}"
    data-item-id="{{item._id}}"
    data-item-category="{{item.type}}"
    draggable="true">
  <div class="item-name gear-name"
       data-tooltip="{{localize (cprFindConfigValue "ammoType" item.system.type)}} | {{localize (cprFindConfigValue "ammoVariety" item.system.variety)}}"
       alt="{{localize (cprFindConfigValue "ammoType" item.system.type)}} | {{localize (cprFindConfigValue "ammoVariety" item.system.variety)}}">
    <a class="name item-edit flex-center">
      <img src="{{item.img}}"/>
      {{item.name}}
    </a>
  </div>
  <div class="item-detail gear-amount">
    <div class="gear-amount-value">
      x
      <input name="item.system.amount"
             class="gear-amount-input"
             type="number"
             data-item-prop="item.system.amount"
             value="{{cprNumberFormat item.system.amount}}"/>
    </div>
  </div>
  <div class="item-detail gear-data text-nowrap"
       data-tooltip="{{cprStripHtml item.system.description.value}}">
    {{cprStripHtml item.system.description.value}}
  </div>
  <div class="item-detail gear-actions text-nowrap">
    {{> "systems/cyberpunk-red-core/templates/actor/mixin/actions/cpr-actions.hbs" item}}
  </div>
</li>
{{cprTrace "END CPR-AMMO-CONTENT.HBS"}}
