form {
  .notes,
  .hint {
    color: var(--cpr-text-foundry-hint) !important;
  }

  input {
    &::placeholder {
      color: var(--cpr-text-normal);
      opacity: 0.6;
    }

    .number {
      width: 1.875rem;
    }
  }
  .form-group {
    label {
      color: var(--cpr-text-window);
    }
  }
  span.units {
    color: var(--cpr-text-hint) !important;
  }
  .form-group.slim {
    .form-fields {
      label {
        color: var(--cpr-text-hint) !important;
      }
    }
  }
  textarea:read-only {
    color: var(--cpr-text-hint);
  }
  textarea {
    color: var(--cpr-text-normal);
  }
}

.filepicker .display-modes {
  a {
    background: var(--cpr-background-editor-button);
  }

  a.active {
    background: var(--cpr-background-editor-button-selected);
    text-shadow: var(--cpr-text-foundry-hover);
  }
}

.card-control {
  color: var(--cpr-text-hint) !important;
}

.actor-sheet,
.blackice-sheet,
.container-sheet,
.demon-sheet,
.dialog-sheet,
.item-sheet,
.mook-sheet {
  font-family: var(--cpr-font-primary);

  // Undo Foundry Base Style settings for elements
  img {
    border: none;
  }

  ol li {
    list-style-type: none;
  }

  a:hover {
    text-shadow: 0 0 0.5rem var(--cpr-background-foundry-hover);
  }

  input[type="text"],
  input[type="number"],
  input[type="password"],
  input[type="date"],
  input[type="time"] {
    border: none;
    outline: none;
    box-shadow: none;
    min-width: unset;
    margin: 0;
    line-height: inherit;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    border: none;
    height: 100%;
    background: none;

    &:hover {
      color: var(--cpr-text-foundry-hover) !important;
    }
  }
}

option,
optgroup {
  background: var(--cpr-background-window);
}

#module-management {
  label {
    color: var(--cpr-text-icon-normal) !important;
  }
}

#keybindings {
  .binding {
    .key.uneditable {
      background: var(--cpr-background-row-odd);
    }
  }
}

#ui-right {
  button {
    color: var(--cpr-text-foundry-input);
    background-color: var(--cpr-background-foundry-input);
  }
}

#chat-form {
  textarea {
    background: none;
    color: var(--cpr-text-foundry-input);
    background-color: var(--cpr-background-foundry-input);
  }
}

#chat-controls {
  .roll-type-select {
    color: var(--cpr-text-foundry-input);
    background-color: var(--cpr-background-foundry-input);
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="search"],
input,
select,
button,
.sidebar-tab .directory-header .header-search input,
.dialog .dialog-buttons button,
.dialog .dialog-buttons button.default {
  color: var(--cpr-text-foundry-input);
  background: var(--cpr-background-foundry-input);
}

input::placeholder {
  color: var(--cpr-text-hint);
}

.header-search {
  input {
    background: var(--cpr-background-foundry-input) !important;
  }
}

// Overide the standard editor styles
.editor {
  .editor-edit {
    color: var(--cpr-text-editor-button);
    background-color: var(--cpr-background-editor-button);
  }

  .tox-tinymce {
    border: unset;
    border-radius: unset;

    .tox-edit-area__iframe {
      // This must be a light backlground no matter the theme as we can't
      // style the content of iframes
      background: var(--cpr-color-white);
    }
  }

  .tox {
    .tox-tbtn {
      color: var(--cpr-text-editor-button);
      background-color: var(--cpr-background-editor-button);
    }

    .tox-editor-container {
      .tox-editor-header {
        border: unset;
        box-shadow: unset;
        padding: unset;
        transition: unset;

        .tox-toolbar-overlord {
          color: var(--cpr-text-editor-header);
          background-color: var(--cpr-background-editor-header);

          .tox-toolbar__primary {
            background: none;
            transform: unset;
          }
        }
      }
    }
  }
}

// Override the content link element use when linking to another foundry
// actor, item etc.
.content-link {
  background: var(--cpr-background-content-link) !important;
  color: var(--cpr-text-normal);

  i::before {
    color: var(--cpr-text-normal);
  }
}

/* -------------------------------------------- */
/* Override pause menu with glitch effect       */
/* IF enabled in settings.enablePauseAnimation  */
/* -------------------------------------------- */
#pause {
  .pause-image {
    background: url("icons/pause.png");
    background-size: 8rem;
    width: 8rem;
    height: 8rem;
    padding-left: 8rem;
  }
  .pause-glitch {
    .glitch;
    text-transform: uppercase;
    font-family: var(--cpr-font-pause);
    font-weight: 800;
    color: var(--cpr-pause-text);

    &::before,
    &::after {
      content: attr(data-text);
    }
  }
}
