// Fixes for journals when using css themes
// Also serves as a base for further theming journals to have a more CPR style

.journal-sheet-container {
  .journal-entry-content {
    .journal-header {
      input {
        color: var(--color-text-dark-1);
      }
    }

    color: var(--color-text-dark-1);
  }
}
