{{cprTrace "START EFFECTS CPR-ACTIVE-EFFECT-SHEET.HBS"}}
{{!-- taken from Foundry code in resources/app/templates/sheets/active-effect-config.html --}}
{{!-- We are assuming this sheet is never shown for effects on owned items, since they cannot be changed --}}
<form>
  <div class="active-effects-sheet">
    <!-- Effect Header -->
    <header class="sheet-header">
      <img class="effect-icon" src="{{effect.icon}}" data-edit="icon"/>
      <h1 class="effect-title">{{effect.label}}</h1>
    </header>
    <!-- Effect Configuration Tabs -->
    <nav class="sheet-tabs tabs">
      <a class="item" data-tab="details"><i class="fas fa-book"></i> {{localize "EFFECT.TabDetails"}}</a>
      <a class="item" data-tab="effects"><i class="fas fa-cogs"></i> {{localize "EFFECT.TabEffects"}}</a>
    </nav>
    <!-- Details Tab -->
    <section class="tab" data-tab="details">
      <div class="form-group">
        <label>{{ localize "EFFECT.Label" }}</label>
        <div class="form-fields">
          <input type="text" name="label" value="{{effect.label}}"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ localize "EFFECT.Icon" }}</label>
        <div class="form-fields">
          {{filePicker target="icon" type="image"}}
          <input class="image"
                 type="text"
                 name="icon"
                 placeholder="path/image.png"
                 value="{{effect.icon}}"/>
        </div>
      </div>
      <div class="form-group">
        <label>{{ localize "EFFECT.IconTint" }}</label>
        <div class="form-fields">
          <input class="color" type="text" name="tint" value="{{effect.tint}}"/>
          <input type="color" value="{{effect.tint}}" data-edit="tint"/>
        </div>
      </div>
    </section>
    <!-- Effects Tab -->
    <section class="tab" data-tab="effects">
      <ol class="changes-list">
        <header class="change-header flexrow">
          <div class="change-key">{{ localize "EFFECT.ChangeKey" }}</div>
          <div class="change-value">{{ localize "EFFECT.ChangeValue" }}</div>
          <div class="change-mode">{{ localize "EFFECT.ChangeMode" }}</div>
          <div class="situational">
            {{ localize "CPR.effectSheet.header.situational" }}
          </div>
          <div class="on-by-default">
            {{ localize "CPR.effectSheet.header.onByDefault" }}
          </div>
          <div class="change-actions">
            {{ localize "CPR.effectSheet.actions" }}
          </div>
        </header>
        {{#each data.changes as |change i| }}
          {{!-- "this" is now an element in the changes array of the effect --}}
          <li class="flexrow">
            <div class="change-key" data-index="{{i}}">
              <span class="form-fields effect-key-category" data-index="{{i}}">
                <select class="key-cat"
                        name="flags.cyberpunk-red-core.changes.cats.{{i}}"
                        data-dtype="String">
                  {{#select (lookup ../data.flags.cyberpunk-red-core.changes.cats i)}}
                  {{#each (cprFindConfigObj "activeEffectKeys" ) as |effectCategory ec| }}
                    {{!-- Dynamically create the various effect keys. Added here to pass language pipeline:
                    CPR.effectSheet.keyCategory.combat
                    CPR.effectSheet.keyCategory.netrun
                    CPR.effectSheet.keyCategory.role
                    CPR.effectSheet.keyCategory.skill
                    CPR.effectSheet.keyCategory.stat
                    CPR.effectSheet.keyCategory.misc
                    --}}
                    <option value="{{ec}}">
                      {{localize (cprObjConcat "CPR.effectSheet.keyCategory." ec)}}
                    </option>
                  {{/each}}
                  <option value="custom">
                    {{localize "CPR.effectSheet.keyCategory.custom"}}
                  </option>
                {{/select}}
              </select>
            </span>
            {{#if (cprCompare (lookup ../data.flags.cyberpunk-red-core.changes.cats i) "===" "custom") }}
              <input class="key-input"
                     type="text"
                     name="changes.{{i}}.key"
                     value="{{change.key}}"/>
            {{/if}}
            {{#if (cprCompare (lookup ../data.flags.cyberpunk-red-core.changes.cats i) "===" "skill") }}
              <select class="key-key force-submit"
                      name="changes.{{i}}.key"
                      data-dtype="String">
                {{#select change.key}}
                {{#each (cprGetSkillsForEffects ../this) as |modkeyname modkey| }}
                  <option {{#if (cprObjectListContains ../../data.changes "key" modkey) }}disabled{{/if }} value="{{modkey }}">{{localize modkeyname }}
                  </option>
                {{/each}}
              {{/select}}
            </select>
          {{/if}}
          {{#if (cprListContains "combat,netrun,role,stat,misc" (lookup ../data.flags.cyberpunk-red-core.changes.cats i)) }}
            <select class="key-key force-submit"
                    name="changes.{{i}}.key"
                    data-dtype="String">
              {{#select change.key}}
              {{#each (cprFindConfigValue "activeEffectKeys" (lookup ../data.flags.cyberpunk-red-core.changes.cats i)) as |modkeyname modkey| }}
                <option {{#if (cprObjectListContains ../../data.changes "key" modkey) }}disabled{{/if }} value="{{modkey }}">{{localize modkeyname }}
                </option>
              {{/each}}
            {{/select}}
          </select>
        {{/if}}
      </div>
      <div class="change-value force-submit">
        <input type="text" name="changes.{{i}}.value" value="{{change.value}}"/>
      </div>
      <div class="change-mode force-submit">
        {{!-- Using other modes for skills means we need to make changes to actor.bonuses. Rather than 0 all values out, it
        needs to persist the existing value, and the mode so the math applies correctly. This has implications
        on how to present in the actor sheet too. --}}
        {{#if (cprCompare (lookup ../data.flags.cyberpunk-red-core.changes.cats i) "===" "stat") }}
          <select name="changes.{{i}}.mode" data-dtype="Number">
            {{#select change.mode}}
            {{#each (cprFindConfigObj "effectModifierModes") as |modename modenum| }}
              <option value="{{modenum}}">
                {{localize modename}}
              </option>
            {{/each}}
          {{/select}}
        </select>
      {{else}}
        <input type="hidden" name="changes.{{i}}.mode" data-dtype="Number" value="2"/>
        <span>{{localize "CPR.effectSheet.modifiers.addSubtract"}} <i class="fas fa-question-circle"
    data-tooltip="{{localize "CPR.effectSheet.info.deleteAndModesComing"}}"></i></span>
      {{/if}}
    </div>
    <div class="situational">
      <input name="isSituational" class="toggle-situational" type="checkbox" data-index="{{i}}" {{checked (cprArrayLikeObjectByIndex ../data.flags.cyberpunk-red-core.changes.situational i "isSituational")}} {{disabled (cprCompare (lookup ../data.flags.cyberpunk-red-core.changes.cats i) "===" "stat")}}/>
    </div>
    <div class="on-by-default">
      <input {{#unless (cprArrayLikeObjectByIndex ../data.flags.cyberpunk-red-core.changes.situational i "isSituational")}}disabled{{/unless}} name="onByDefault" class="toggle-on-by-default" type="checkbox" data-index="{{i}}" {{checked (cprArrayLikeObjectByIndex ../data.flags.cyberpunk-red-core.changes.situational i "onByDefault")}} {{disabled (cprCompare (lookup ../data.flags.cyberpunk-red-core.changes.cats i) "===" "stat")}}/>
    </div>
    <div class="change-actions">
      <a class="effect-change-control" data-action="delete" data-index="{{i}}"><i class="fas fa-trash"></i></a>
    </div>
  </li>
{{/each}}
</ol>
<br/>
<div class="item-controls effect-controls">
  <a class="effect-change-control"
     data-action="add"
     data-tooltip="{{localize "CPR.effectSheet.createModDesc"}}">
    <i class="far fa-plus-square"></i> {{localize "CPR.effectSheet.createMod"}}
  </a>
</div>
<br/>
</section>
<footer class="sheet-footer">
  <button type="submit">
    <i class="fas fa-save"></i> {{localize submitText}}
  </button>
</footer>
</div>
</form>
{{cprTrace "END CPR-ACTIVE-EFFECT-SHEET.HBS"}}
