{{cprTrace "START ACTOR CHARACTER BOTTOM-PANE FIGHT CPR-ARMOR-LIST.HBS"}}

<div class="armor-section">
  <li class="items-header flexrow">
    <span class="item-name section-name text-nowrap text-padding-left-smallest">
      {{localize "CPR.global.itemTypes.armor"}}
    </span>
  </li>
  <div class="armor-content">
    {{#each (cprSort actor.itemTypes.armor "name") as |armor| }}
      {{#if (cprCompare armor.system.equipped "===" "equipped") }}
        {{> "systems/cyberpunk-red-core/templates/actor/mixin/fight/cpr-armor.hbs" this}}
      {{/if}}
    {{/each}}
  </div>
</div>

{{cprTrace "END CPR-ARMOR-LIST.HBS"}}
